// main: ../page.less
footer {
  background-color: lighten(@black, 20%);
  padding: 40px 0;
  .share {
    margin: 0 auto;
    width: fit-content;
    ul {
      margin-bottom: 40px;
      li {
        padding: 0 20px;
        @media (max-width: 767px) {
          padding: 0 10px;
        }
        a {
          .white;
          text-decoration: none;
          i {
            font-size: 24px;
            &.icon-behance {
              font-size: 26px;
            }
          }
        }
      }
    }
    p {
      font-size: 16px;

      &:last-of-type {
        color: #03a9f4;
      }
    }
    img {
      margin: 0 auto;
    }
  }
}
