// main: ../page.less

.bold {
  font-weight: 700;
}

.f-16 {
  font-size: 16px;
}

.no-padding {
  padding: 0 !important;
}

.mt-0 {
  margin-top: 0;
}
.mb-0 {
  margin-bottom: 0;
}

.mt-20 {
  margin-top: 20px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mt-40 {
  margin-top: 40px;
}

.mtb-80 {
  margin: 80px 0;
}

.mb-80 {
  margin-bottom: 80px;
}

.ptb-80 {
  padding: 80px 0;
}

.upper {
  text-transform: uppercase;
}

.ls-1 {
  letter-spacing: 1px;
}

.lh {
  line-height: 1.4;
}

.text-grey {
  color: @text-color;
}
.white {
  color: @white;
}
.float-r {
  float: right;
}
